.license {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid gray;
  border-radius: 6px;
  margin: 0 auto;
  margin-top: 10%;
}

.license p{
  text-align: left;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: italic;
}

.license h1 {
  text-align: left;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-style: bold;
}

.license-img {
  width: 50%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}